<div id="login">
<h1>Login Page</h1>
<form action="/login" method="post">
  <label name="email">Email</label>
  <input type="text" name="email">
  <label name="password">Password</label>
  <input type="password" name="password">
  
  <input type="submit" value="login">
</form>
</div>
